:root {
	--primary-color: #499b4a;
}

body {
	background-color: #3d3e3d;
	margin: 0;
	padding: 0;
	text-align: center;
}

#header {
	background-color: #f0f0f0;
	padding: 20px;
}

#logo {
	width: 100px; /* Ajusta el tamaño según tus necesidades */
	height: auto;
}

#content {
	margin-top: 20px;
}

#movableImage {
	max-width: 100%;
	height: auto;
}

main {
	margin: 0;
	width: 100%;
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttons {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 40%;
	gap: 10px;
}

.button {
	width: 150px; /* Ajusta el tamaño según tus necesidades */
	margin: 10px auto;
	padding: 10px;
	background-color: #4caf50; /* Cambia el color según tus preferencias */
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
}

.inputBox {
	margin-top: 20px;
}

textarea {
	padding: 0.4rem;
	resize: none;
	overflow: hidden;
	background: white;
	color: var(--primary-color);
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


